
td.danger {background-color: purple}
td.warning {background-color: green}

.yui-skin-sam .yui-calendar td.danger {background-color: #ff0000}
.yui-skin-sam .yui-calendar td.warning {background-color: #ff8000}
.yui-skin-sam .yui-calendar td.nodata a {background-color: #bbbbbb;color:#888}
 
/* SELECTED DATE */ 
.yui-skin-sam .yui-calendar td.calcell.selected { 
    background-color: white; 
    color:#000; 
} 
	
.yui-skin-sam .yui-calendar td.calcell.selected a { 
    background-color: #c0ffc0; 
    color:#000; 
} 
.yui-skin-sam .yui-calendar td.calcell.selected.danger a { 
    background-color: #ff6666; 
    color:#000; 
} 
.yui-skin-sam .yui-calendar td.calcell.selected.warning a { 
    background-color: #ffb366; 
    color:#000; 
} 

.yui-skin-sam .yui-calendar td.calcell.selected.nodata a { 
    background-color: #333333; 
    color:#fff; 
} 
