#navigation {float: left; width: 220px;}

#map { width: 500px;height: 500px; margin-left: 0px; float: left;}


body {background-color: white ; font-family: helvetica}

#header {background-image: url(../images/aegisslogo.png); 
	background-repeat:no-repeat;
	background-position: right top;
height: 90px;}

h1 {font-family: helvetica; } 
h2 {font-family: helvetica; }

table.jacsStatic {background-color: white; border-style: none; }
.jacs tfoot {display: none;}